@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-green: #595438;
  --main-beige: #f9e5c7;
  --bg-beige: #ebe6e0;
  --oxide: #804a2e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-gowun-batang), serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
